<div id="wrapper">
  <a href="/scrape">start scraping...</a>
   <a href="/savedarticles">View Saved</a>
  <h1>BBC Scraper</h1>
  <h2><i>Scrape articles from BBC News</i></h2>

     
         
      <div id="articles">  </div>
      <div id="notes"></div>
 
   

</div>